name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
        - name: Clone the repository
          uses: actions/checkout@v6
          with:
            show-progress: false
        - name: Install uv
          uses: astral-sh/setup-uv@v7
        - name: Install dependencies
          run: |
            sudo apt-get install -y subversion cvs mercurial rcs
            uv sync
        - name: Run tests
          run: |
            uv run run-tests.py

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v6
      - name: Build Docker image
        run: docker build .